body { 
  margin:0; 
  padding:0; 
}

#pagenam {
  font-family: 'Krona One', sans-serif;
  z-index: 314159;
  margin: 5 auto;
  font-size: .9em;
  position: relative;
  display: table;
  text-align: center;
  border-style: none;
  text-decoration: none;
  background-color: transparent;
  color: gray;
 }

#aboutlink {
  font-family: 'Krona One', sans-serif;
  font-size: .9em;
  border-style: none;
  text-decoration: none;
  background-color: transparent;
  color: gray;
}

#aboutext {
  font-family: 'Krona One', sans-serif;
  margin: 5 auto;
  margin-right: 20%;
  margin-left: 20%;
  font-size: .9em;
  position: relative;
  display: table;
  text-align: center;
  border-style: none;
  text-decoration: none;
  background-color: transparent;
  color: white;
}

#map { 
  position:absolute; 
  z-index: 100;
  top:0; bottom:0; 
  width:100%; 
}

.leaflet-popup-content {
  color: black;
}

a:link, a:visited, a:active {
  text-align: center;
  border-style: none;
  text-decoration: none;
  background-color: transparent;
  color: rgb(0, 216, 65);
}

a:hover {
  text-align: center;
  border-style: none;
  text-decoration: none;
  background-color: transparent;
  color: rgb(60, 255, 0);
}
